<div>
  <p>タイトル:<%= @toukou.title %></p>
  <P>立ち位置:<%= attachment_image_tag @toukou, :location %></P>
  <P>目印:<%= attachment_image_tag @toukou, :point %></P>
  <P>結果:<%= attachment_image_tag @toukou, :result %></P>
  <P>説明:<%= @toukou.explain %></P>
</div>